In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r"H:\machine learning\New Datasets\DataSets-master\DataSets-master\bmi.csv")

In [4]:
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [19]:
data.Gender[data.Gender=="Male"]=1
data.Gender[data.Gender=="Female"]=0

C:\Users\Rahul\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rahul\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
feature=data.iloc[:,0:3]

In [21]:
feature

    Gender  Height  Weight
0        1     174      96
1        1     189      87
2        0     185     110
3        0     195     104
4        1     149      61
5        1     189     104
6        1     147      92
7        1     154     111
8        1     174      90
9        0     169     103
10       1     195      81
11       0     159      80
12       0     192     101
13       1     155      51
14       1     191      79
15       0     153     107
16       0     157     110
17       1     140     129
18       1     144     145
19       1     172     139
20       1     157     110
21       0     153     149
22       0     169      97
23       1     185     139
24       0     172      67
25       0     151      64
26       1     190      95
27       1     187      62
28       0     163     159
29       1     179     152
..     ...     ...     ...
470      1     147     142
471      1     154     112
472      0     178      65
473      1     195     153
474      0     167      79
475      1     183     131
476      0     164     142
477      1     167      64
478      0     151      55
479      0     147     107
480      0     155     115
481      0     172     108
482      0     142      86
483      1     146      85
484      0     188     115
485      1     173     111
486      0     160     109
487      1     187      80
488      1     198     136
489      0     179     150
490      0     164      59
491      0     146     147
492      0     198      50
493      0     170      53
494      1     152      98
495      0     150     153
496      0     184     121
497      0     141     136
498      1     150      95
499      1     173     131

[500 rows x 3 columns]

In [22]:
target=data.iloc[:,3:4]

In [23]:
target

     Index
0        4
1        2
2        4
3        3
4        3
5        3
6        5
7        5
8        3
9        4
10       2
11       4
12       3
13       2
14       2
15       5
16       5
17       5
18       5
19       5
20       5
21       5
22       4
23       5
24       2
25       3
26       3
27       1
28       5
29       5
..     ...
470      5
471      5
472      2
473      5
474      3
475      4
476      5
477      2
478      2
479      5
480      5
481      4
482      5
483      4
484      4
485      4
486      5
487      2
488      4
489      5
490      2
491      5
492      0
493      1
494      5
495      5
496      4
497      5
498      5
499      5

[500 rows x 1 columns]

In [24]:
feature=feature.values.reshape(len(feature),3)
target=target.values.reshape(len(target),1)

In [25]:
featuretrain=feature[:380]
featuretest=feature[380:]
targettrain=target[:380]
targettest=target[380:]

In [26]:
from sklearn.svm import SVC

In [27]:
teacher=SVC()

In [28]:
learner=teacher.fit(featuretrain,targettrain)

C:\Users\Rahul\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
learner.predict([[1,170,65]])

array([5], dtype=int64)