In [13]:
import pandas as pd

In [14]:
bmi=pd.read_csv(r"H:\machine learning\New Datasets\DataSets-master\DataSets-master\bmi.csv")

In [15]:
bmi

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [16]:
bmi.head(3)

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4

In [17]:
bmi["Gender"]=bmi["Gender"].map({"Male":1,"Female":0})

In [18]:
bmi.head(3)

   Gender  Height  Weight  Index
0       1     174      96      4
1       1     189      87      2
2       0     185     110      4

In [23]:
from sklearn.model_selection import train_test_split

In [28]:
feature=bmi.loc[:,"Gender":"Weight"]
target=bmi.loc[:,"Index"]

In [30]:
target.head(3)

0    4
1    2
2    4
Name: Index, dtype: int64

In [31]:
featureTrain,featureTest,targetTrain,targetTest=train_test_split(feature,target,test_size=.30,random_state=101)

In [32]:
from sklearn.svm import SVC

In [40]:
teacher=SVC(gamma=.001)

In [41]:
learner=teacher.fit(featureTrain,targetTrain)

In [42]:
learner.predict([[1,170,65]])

array([2], dtype=int64)

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
Ya=targetTest
Yp=learner.predict(featureTest)

In [45]:
acc=accuracy_score(Ya,Yp)*100

In [46]:
acc

92.0

In [47]:
learner.predict([[1,175,68]])

array([2], dtype=int64)

In [48]:
learner.predict([[1,170,49]])

array([1], dtype=int64)